@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --transition-duration: 300ms; /* Set the transition duration */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (max-height: 650px) {
  main {
    min-height: initial; /* Remove the min-height for smaller screens */
    overflow-y: auto; /* Enable vertical scrolling */
  }
}

/* Only make a tags and buttons hover when it can */
@media (hover: hover) {
  .footer-button:hover .social-link:hover {
    opacity: 0.5;
  }

  .profile-card:hover {
    background-color: rgb(209 213 219);
  }

  .profile-card:dark:hover {
    background-color: rgb(30 41 59);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  /* Apply the transition to all properties */
  transition: color var(--transition-duration),
    background var(--transition-duration);
}
